@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro;
}
header{
  margin:25px;
}
header img{
  width: 200px;
  
}
section{
  margin: 25px;
}
section h1{
  margin-bottom: 25px;
}

main{
  display: flex;
  flex-direction: column;
}
.sec-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
display: none;  
  }
.sec-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

}

article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 90%;
  background: pink;
  color: white;
  transition: 0.3s;
  border-radius: 8px;
  margin: 25px;

}

article:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;

  opacity: 0.9;
  transition: 1s;
}

article:hover:before {
  opacity: 0;
  

}
article:hover {
  
  transform: scale(1.05, 1.05);

}
article:hover p{
  display: block;
  transition: 1s;


}

article .content {
  display: flex;
  
  flex-direction: column;
  
  
  
  z-index: 3;
  transition: 1s;
}

article h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
  
}

article p {
  margin-left: 25px;
  margin-right: 25px;
  display: none;
  
  
  }
.article-1{
  background: url("images/pic01.jpg");
  background-size: cover;
}
.article-1:before {
  background: #77c0d8;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E") ;
  background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
  transition: 0.3s;}


  .article-2 {
    background: url("images/pic02.jpg");
    background-size: cover;
  }
  
  .article-2:before {
    background: purple;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-3 {
    background: url("images/pic03.jpg");
    background-size: cover;
  }
  
  .article-3:before {
    background: blue;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-4 {
    background: url("images/pic04.jpg");
    background-size: cover;
  }
  
  .article-4:before {
    background: palevioletred;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-5 {
    background: url("images/pic05.jpg");
    background-size: cover;
  }
  
  .article-5:before {
    background: lightblue;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
.article-6 {
  background: url("images/pic06.jpg");
  background-size: cover;
}

.article-6:before {
  background: lightslategray;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: 2;
  transition: 0.3s;
}
.article-7 {
  background: url("images/pic07.jpg");
  background-size: cover;
}

.article-7:before {
  background: green;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: 2;
  transition: 0.3s;
}
  .article-8 {
    background: url("images/pic08.jpg");
    background-size: cover;
  }
  
  .article-8:before {
    background: blue;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-9 {
    background: url("images/pic09.jpg");
    background-size: cover;
  }
  
  .article-9:before {
    background: green;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-10 {
    background: url("images/pic10.jpg");
    background-size: cover;
  }
  
  .article-10:before {
    background: darkblue;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }

  .article-11 {
    background: url("images/pic11.jpg");
    background-size: cover;
  }
  
  .article-11:before {
    background: pink;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  .article-12{
    background: url("images/pic12.jpg");
    background-size: cover;
  }
  
  .article-12:before {
    background: palevioletred;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
    z-index: 2;
    transition: 0.3s;
  }
  



  footer{
    padding: 25px;
    background: lightgrey;
  }
  footer h2{
    margin-bottom: 25px;
    letter-spacing: 5px;
  }
   i{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid grey;
    margin:10px;
    padding: 10px;
    border-radius: 8px;
  }

  .foot-2{
    display: flex;
    flex-direction: column;
  }
  .foot-2 input{
    width: 90%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    margin: 10px;
  }
  .foot-2 .textarea{
    height: 75px;
  }
  .foot-2 input[type=submit]{
    border-radius: 8px;
    background: rgb(97, 97, 97);
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 25px;
    border: 1px solid rgb(97, 97, 97);
  }
  .foot-2 input[type=submit]:hover{
    
    background-color: darkgrey;
  }
  i:hover{
    background-color: darkgray;
    color: white;
  }
  @media(min-width:800px){
    main {
      flex-direction: row;
    }
    
    .sec-1,
    .sec-2
    {
      display: flex;
      width: 50%;
    }
    
    footer {
      display: flex;
      flex-direction: row-reverse;
    
    }
    
    .foot-1 {
      width: 30%;
    }
    
    .foot-2 {
      width: 70%;
    }
    
    .namesur {
      
      width: 50%;
    }
    
    .foot-2 input[type=submit] {
      
      padding-left: 15px;
      padding-right: 15px;
    }
  }
@media(min-width:1200px)
  {
    main{
      flex-direction: row;
    }
    .sec-1,
    .sec-2,
    .sec-3{
      display: flex;
      width: 33%;
    }
    footer{
      display: flex;
      flex-direction: row-reverse;

    }
    .foot-1{
      width: 30%;
    }
    .foot-2{
      width: 70%;
    }
    .namesur{
      display: flex;
      width: 94%;
    }
    .foot-2 input[type=submit]{
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    
  }
  